.team {
  background-color: #121212;
  /* height: 90vh; */
  height: 90vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
}

.team-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.members {
  display: flex;
  gap: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.info > h2 {
  font-size: 24px;
  font-weight: 600;
}

.info > h3 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.info-img {
  max-height: 250px;
  max-width: 250px;
  /* border-radius: 50%; */
  border-radius: 7px;
}

@media screen and (max-width: 950px) {
  .members {
    flex-direction: column;
  }
}
